body{
    margin: 0;
    padding: 0;
    background-color: #fdd5fb;
}

.container {
    width: 100%;
}

/*Авторизация*/
.section_1{
    display: flex;
}
.section_1 h1 {
    color: rgb(255, 50, 177);
    font-size: 40px;
    margin-left: 30px;
    margin-top: 30px;
}

.icon {
    width: 80px;
    margin-left: 50px;
    margin-top: 20px
}



.author-block {
    width: 1300px;
    height: 600px;
    background-color: #ffff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 130px;
}

.author-block h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
}

.author-block input {
    margin-top: 20px;
    width: 450px;
    height: 63px;
    border-radius: 40px;
    font-size: 22px;
    margin-left: 420px;
    margin-bottom: 10px;
    background-color: #ffdefd;
    border: #fdd5fb;
    padding: 8px;
}

.author-block button {
    width: 8%;
    height: 53px;
    background-color: #f52273;
    border-radius: 40px;
    border: 0px;
    margin-top: 30px;
    margin-left: 600px;
    font-size: 20px;
    cursor: pointer;
    &:hover{
        background-color: #b60345;
    }
}

.author-block h2{
    text-decoration: underline;
    font-size: 23px;
    margin-left: 585px;
    margin-top: 20px;
    cursor: pointer;
}

/*Регистрация*/
.registr-block {
    width: 600px;
    height: 830px;
    background-color: #ffff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

.registr-block h2{
    text-align: center;
    color: #f52273;
    font-size: 40px;
}

.registr-block input {
    width: 95%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: lab(95.86% -2.2 20.76);
    border: 0px;
    padding: 8px;
    font-size: 20px;
}

.registr-block button{
    margin-top: 20px;
    width: 25%;
    height: 50px;
    background-color: #f52273;
   margin-left: 240px;
   border-radius: 60px;
   border: 0;
   font-size: 19px;
   cursor: pointer;
   &:hover{
    background-color: #b60345;
   }
}
.registr-block laber{
    font-size: 24px;
}

.registr-block h3{
    text-decoration: underline;
    font-size: 23px;
    margin-left: 240px;
    cursor: pointer;
}


/*Чат*/
.container_chat {
    display: flex;
}
.chat .header {
    border: 1px solid #ff0000;
    margin: 1px;
    width: 700px;
    height: 120%;
    background: hwb(327 65% 0%);
    color: #ffff;

}
.chat input{
    width: 670px;
    height: 30%;
    border-radius: 10px;
    border: #fdd5fb;
    font-size: 20px;
    margin-left: 10px;
    background-image: url(https://img.icons8.com/?size=100&id=132&format=png&color=000000);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 30px;
    
}
.header h1 {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 35px;
}

.header .icon{
    width: 30px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-left: 600px;
}

.chat-message {

}



