body{
    margin: 0;
    padding: 0;
    background:  #833AB4;
    background:  linear-gradient(90deg,#f2dfff 0%, #f15abf 50%, #a889f1 100%);
   
}

.container {
    width: 100%;
}

/*Авторизация*/
.section_1{
    display: flex;
}
.section_1 h1 {
    color: rgb(255, 50, 177);
    font-size: 40px;
    margin-left: 30px;
    margin-top: 30px;
    
}

.section_1 .icon {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow:4px 4px 9px #fc038cfd;
    border-radius: 20px;
    
}

.author-block {
    width: 1100px;
    height: 500px;
    background-color: #ffff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 130px;
     box-shadow:4px 10px 30px #71109efd;
}

.author-block h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.author-block input {
    margin-top: 20px;
    width: 400px;
    height: 50px;
    border-radius: 40px;
    font-size: 22px;
    margin-left: 340px;
    margin-bottom: 10px;
    background-color: #ffdefd;
    border: #fdd5fb;
    padding: 8px;
     box-shadow:4px 4px 9px #fc038cfd;
}

.author-block button {
    width: 8%;
    height: 53px;
    background-color: #f52273;
    border-radius: 40px;
    border: 0px;
    margin-top: 30px;
    margin-left: 500px;
    font-size: 20px;
    cursor: pointer;
     box-shadow:4px 4px 9px #c203fcfd;
    &:hover{
        background-color: #b60345;
    }
}

.author-block h2{
    text-decoration: underline;
    font-size: 23px;
    margin-left: 480px;
    margin-top: 20px;
    cursor: pointer;
    &:hover{
    color: #ff0697;
   }
}

/*Регистрация*/
.registr-block {
    width: 510px;
    height: 770px;
    background-color: #ffff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
     box-shadow:4px 4px 30px #fdff83fd;
}

.registr-block h2{
    text-align: center;
    color: #f52273;
    font-size: 40px;
     
}

.registr-block input {
    width: 95%;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: lab(95.86% -2.2 20.76);
    border: 0px;
    padding: 8px;
    font-size: 20px;
     box-shadow:4px 4px 9px #ff68e6fd;
}

.registr-block button{
    margin-top: 20px;
    width: 25%;
    height: 50px;
    background-color: #f52273;
   margin-left: 200px;
   border-radius: 60px;
   border: 0;
   font-size: 19px;
   cursor: pointer;
    box-shadow:4px 4px 9px #6e03fcfd;
   &:hover{
    background-color: #b60345;
   }
}

.registr-block laber{
    font-size: 24px;
}

.registr-block h3{
    text-decoration: underline;
    font-size: 23px;
    margin-left: 200px;
    cursor: pointer;
     &:hover{
    color: #ff0697;
   }
}

/*Чат*/
.container_chat {
    display: flex;
      background:  linear-gradient(90deg,rgb(8, 0, 255) 3%, #ff0000 30%, #2b00ff 100%);
    /*background: rgb(105, 44, 133);*/
}
.chat .header {
    
    margin: 0px;
    width: 450px;
    height: 160px;
    color: #ffff;
    margin-top: px;
    margin-left: 0px;
    box-shadow:4px 4px 9px #00ec00fd;
}
.chat input{
    width: 430px;
    height: 35px;
    border-radius: 10px;
    border: #f8adf4f5;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
   /* background-image: url(https://img.icons8.com/?size=100&id=132&format=png&color=000000);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 30px;   */
}
.header h1 {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 40px;
    margin-top: 10px; 
}

 .icon{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px; 
}

.header-cont {
    display: flex;
}

.menu {
    margin: 0;
    width: 300px;
    height: 100vh;
    background: lab(16.79% 11.24 -26.15);
    color: #ffff;  
}

.menu button{
    width: 210px;
    height: 60px;
    border:  3px solid #a600ff;
    margin-top: 10px;
    background-color: #282050;
    color: #f9edff;
    font-size: 17px;
    cursor: pointer;
    box-shadow:4px 4px 9px #bd0909fd;
    &:hover{
        background-color: #150e36;
    }
}
.menu .delete {
    margin-top: -29px;
    margin-left: 20px;   
}

.messages p{
    position: absolute;
    font-size: 20px;
    margin-left: 90px;
}

.messages .icon {
    width: 40px;
    height: 35px;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
}

.messages_1{
    border:  2px solid #bc14dd;
    margin-top: px;
    height: 70px;
    cursor: pointer;
    display: flex;
      box-shadow:4px 4px 9px #00ec00fd;
     &:hover{
        background-color: rgba(71, 43, 131, 0.394);
    }
}

.messages_1 p{
    font-size: 25px;
    margin-left: 30px;
}

.avatar {
    /*border:  3px solid #012ffc;*/
    height: 70px;
    width: 70px;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 10px;
    /*box-shadow:4px 4px 9px #0084ff;*/
    border:  3px solid #fc0101;
    box-shadow:4px 4px 9px #ff0000;

}

 .ava {
    width: 70px;
    border-radius: 100px;
}

.chat-messages {
  /*background-color: #f3b8ef;*/
  background:  #833AB4;
   background:  linear-gradient(90deg,rgb(190, 123, 244) 0%, #7af6ff 50%, #7b66f4 100%);
  width: 100%;
  height: 100vh;
}

 #input-area {
    display: flex;
    padding: 10px 15px;
    /*background:  linear-gradient(90deg,rgb(128, 0, 255) 0%, #00f331 50%, #00ffe1 100%);*/
    height: 5vh;
    width: 100%;
    margin-top: 840px;
    margin-left: -500px;
    border-radius: 0px;
  }

 #message-input{
    flex-grow: 1;
    padding: 10px;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size:20px;
    box-shadow:4px 4px 9px #05e2fffd; 
    /* box-shadow:4px 4px 9px #00c3ff;*/
}
#send {
    margin-left: 10px;
    padding: 10px 20px;
    border: #b60345;
    background-color: #eb0967;
    /*background: #5709ff;*/
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
     box-shadow:4px 4px 9px #00b7ff;
     &:hover{
        background-color: #01cafc;
    }
  }


.chat {
    height: 100vh;
}

.chat button{
    margin-left: 30px;
    font-size: 17px;
    margin-top: 10px;
    border-radius: 20px;
    height: 43px;
    border: #b60345;
    /*background-color: #f52273;*/
     background:  linear-gradient(90deg,rgb(172, 5, 255) 0%, #00f331 50%, #00ffe1 100%);
    cursor: pointer;
    color: #000000;
     box-shadow:4px 4px 9px #05ff05fd;
    &:hover{
        background-color: #b51552;
    }
}

.menu h1{
    margin-top: -55px;
    margin-left: 100px;
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avata {
    border:  3px solid #ff00bf;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin-top: 4px;
    margin-left: 10px;
    box-shadow:4px 4px 9px #00ff55;
}

.ava-1 {
    width: 60px;
    border-radius: 100px;
}
/*.block_messages {
    display: flex;
}*/

.chat-messages{
    display: flex;
}
 .message_companion1 {
    width: 130%;
    height: 83px;
    background:  linear-gradient(90deg,rgb(153, 0, 255) 6%, #00c3ff 30%, #9088ff 100%);
    margin-top: 40px;
    border-radius: 15px;
    margin-left: 30px;
    box-shadow:4px 4px 9px #00b7ff;
   
}

.message_companion2 {
     width: 130%;
    height: 83px;
    background:  linear-gradient(90deg,#9088ff 6%, #00d9ff 30%, #8f05ff 100%);
    margin-top: 30px;
    border-radius: 15px;
    margin-left: 500px;
    box-shadow:4px 4px 9px #00b7ff;
}

